@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
/* font-family: "Passion One", serif; */
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
/*font-family: "Sriracha", serif; */


* {
    margin: 0px;
    padding: 0px;
}

:root {
    --preto: black;
    --branco:white;
    --cinza: gray;
    --cor01: #D9F07F;
    --cor02: #51F04F;
    --cor03: #4A7349;
    --cor04: #6E649E;
    --cor05: #755BF0;
    --cor06: #F0CD7F;
    --cor07: #f09c5b96;
    --cor08: #705541d8;

    --fonte-padrao: Verdana, Geneva, Tahoma, sans-serif;
    --font-titulo: "Passion One", serif;
    --font-texto: "Sriracha", serif;;
}

html, body {
    min-height: 100vh;
    background-color: var(--cinza);
    font-family: var(--fonte-padrao);
}

header {
    background-color: var(--preto);
    color: var(--branco);
    text-align: center;
    font-family: var(--font-titulo);
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 10vw;
}

header > p {
    padding-bottom: 50px;
}

section {
    padding-top: 18vh;
    padding-bottom: 18vh;
    line-height: 2em;
    padding-left: 60px;
    font-family: var(--font-texto);
    font-size: 2.75vw;
}

section.normal {
    background-image: linear-gradient(to right, var(--cor01), var(--cor02));
    color: var(--preto);
}

section.imagem {
    background-color: var(--cor03);
    color: var(--branco);
    box-shadow: inset 6px 6px 20px 0px rgba(0, 0, 0, 0.534);
    background-attachment: fixed;
    background-size: cover;
    
}

section.imagem > p {
    background-color: var(--cor07);
    display: inline-block;
    padding: 5px;
    text-shadow: 1px 1px 10px black;
    
}

#img01 {
    background-image: url(../arquivos/imagens/background001.jpg);
    background-position: right center;
    
}

#img02 {
    background-image: url(../arquivos/imagens/background002.jpg);
    background-position: right center;
    
}

a {
    color: var(--branco);
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

footer {
    background-color: var(--preto);
    text-align: center;
    padding: 5px;
    color: var(--branco);
    font-size: 2vw;
}